
html,
body {
  overflow: hidden;
  height: 100%;
  /* 解决外边距白边问题 */
  margin: 0;
}

#root {
  height: 100%;
}
/* html {
  scrollbar-gutter: stable;
} */
* {
  /* border: 1px solid black; */
}

/* 滚动条整体 */
::-webkit-scrollbar {
  width: 8px;        /* 纵向滚动条宽度 */
  height: 8px;       /* 横向滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* hover 时滑块 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
