.container {
    container-type: inline-size;
    /* 启用容器查询 */
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
}

* {
    border: 1px solid black;
}

.left{
    width:auto;
    flex-shrink: 0;
    position: relative;
}

.right {
    flex: 1;
    /* display: flex; */
    /* align-items: flex-end; */
    /* justify-content: right; 水平居中 */
    /* align-items: center;     垂直居中 */
}

.switch{
    position: fixed;
    right: 0;
    top: 0;
}

.settings{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index:1000;
    background-color: brown;
}
/* @container (max-width: 600px) {
    .sidebar {
        width: 0;
        min-width: 0;

    }

    .sidebar-open {
        width: var(--sidebar-width);
        min-width: var(--sidebar-width);
    }

    .sider {
        display: none;
    }

    .icon-sidebar-min {
        display: none;
    }

    .button-sidebar-open {
        display: block;
    }

    .button-sidebar-close {
        display: none;
    }
} */