.listItem {
    background-color: aquamarine;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.listItem:hover {
    user-select: none;
    cursor: pointer;
    /* background: rgba(128, 128, 128, 0.2); */
}

.listItem::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
}

.listItem:hover::after {
    background: rgba(128, 128, 128, 0.2);
}

.select {
    position: relative;
    overflow: hidden;
}
.select::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(128, 128, 128, 0.4);
}