.sidebar-xuanfu,
.sidebar-guding,
.sidebar {
    height: 100dvh;
    height: 100vh;
    width: var(--sidebar-width);
    min-width: var(--sidebar-min-width);
    position: relative;
    background: #ffffff;

    /* 实现拖拽效果的透明边框 */
    .sider {
        width: 10px;
        height: 100%;
        position: absolute;
        opacity: 0;
        right: 0;
        transform: translateX(50%);
    }

    .sider:hover {
        cursor: ew-resize;
    }
}

.sidebar-close {
    width: 0;
    min-width: 0;

    .sider {
        display: none;
    }
}

.sidebar-xuanfu {
    position: fixed;
    z-index: 102;

    /* transform: translateX(-100%);
    transition: transform 0.3s ease; */
    .sider {
        display: none;
    }

    .sidebar-container {
        position: relative;
        z-index: 101;
    }

    .sidebar-close {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .sidebar-open {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
}

.sidebar-trigger {
    z-index: 102;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    opacity: 0;
}

.overplay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.2);
}

.icon-sidebar-close {
    font-size: 20px;
    border-radius: 10%;
    padding: 8px;
}

.icon-sidebar-close:hover {
    cursor: ew-resize;
    user-select: none;
    background: rgba(128, 128, 128, 0.2);
    display: inherit;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background: inherit;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
}

.sidebar-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: inherit;
}

.sidebar-content {
    flex: 1;
    width: 100%;
    z-index: 0;
}

.sidebar-bottom {
    width: 100%;
    position: sticky;
    bottom: 0;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: inherit;
}